* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #fff8f0;
  color: #333;
}

header {
  background-color: #812c2c;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  justify-items: right;
}

nav a:hover {
  color: #f2efee; /* coral */
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 20px;
  color: white;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.menu, .about, .contact {
  padding: 40px 20px;
  text-align: center;
}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.item {
  background-color: #ffe4c4;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
